
.ulNav{
  display: flex;
  list-style:none ;
  color: gray;
}

.icon:hover{
  cursor: pointer;
}

.icon > svg{
  width: 2rem;
}

.icon:first-child{

  color: black;

}


.divCrear{
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: solid 1.5px rgb(179, 176, 176);
  width: 100%;
  padding-bottom: 1rem;
}

.divPublicar{
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-inline-start: 10px;
}
.divPublicar > input{
  font-size: 1rem;
  width: 80%;
  border: none;
}

.divPublicar > input:focus {
  outline: none; 
  border: none;
}

.divPublicar > button{
  font-weight:700;
  color: rgb(179, 176, 176);
  background-color: white;
  border-radius: .9rem;
  padding:  0.5rem 0.9rem;
  border:solid 1.5px rgb(179, 176, 176) ;
}

.divPublicar > button:hover{
  cursor: pointer;
}

.divCard{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1.5px rgb(179, 176, 176);

}
.iconPuntos> svg{
  width: 1.5rem;
}

.divUsuariP{width: 100%;
  display: flex;
  justify-content: space-between;
}
.iconP{
  width: 2rem;
margin: 0 5px 0 0;}

.divUsuariP > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divInfo > p{
  color: gray;
  margin-inline-end: 5px;
}

.divPublicacion{
  width: 80%;
}

.divImg > img{ 
  width: 100%;
border-radius: .5rem; }
.pNombre{
  font-weight: 600;
}

.divIcon{ 
  display: flex;
align-items: center;
}

.divIcon> div{ margin-inline-end: 1rem;}